h2 {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px minmax(100px, 1fr);
}

/* #container div {
    border: 1px solid black;
    grid-row: 1 2;
    padding: 10px;
    text-align: center;
} */

#projects {
    grid-column: 0 1;
    color: black;
    border: 1px solid black;
    grid-row: 1 2;
    padding: 10px;
    text-align: center;
}

#todos {
    grid-column: 1 2;
    border: 1px solid black;
    grid-row: 1 2;
    padding: 10px;
    text-align: center;
}

.hand-cursor {
    cursor: pointer;
}